@font-face {
    src: url('/fonts/Inter-Regular.woff') format('woff'), url('/fonts/Inter-Regular.woff2'), format('woff2');
    font-family: 'Inter';
    font-weight: 400;
}

* {
    box-sizing: border-box;
}



/*Global*/

body {
    font-family: 'Inter', Arial, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #181819;
    padding: 0;
}

header {
    margin-bottom: 75px;
}

h1 {
    color: #181819;
    font-family: 'Inter', Arial, Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    color: #181819;
}

.body_layout {
    margin: 75px;
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 10% 30% 10% 50%;
    height: calc(100vh - 150px);
}


/*Header*/

.header_layout {
    display: grid;
    grid-template-columns: 25vw 25vw 20vw 30vw;
}

.header_section--1 {
    grid-column: 1;
}

.header_section--2 {
    grid-column: 2;
}

.header_section--3 {
    grid-column: 3;
}

.header_section--4 {
    grid-column: 4;
}



/*About*/

.about {
    grid-row: 2;
    grid-column: 2;
    margin-bottom: 75px;
    
}


.about p{
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #8C8C90;
    margin: 0;
}
.solid {
    grid-row: 3;
    grid-column: 1;
    border-top: 1px solid #DEDEE9;
    margin-top: 75px;
}

.work {
    grid-row: 4;
}